@import url('https://fonts.googleapis.com/css?family=Bungee');
* {
    margin:0;
    
  }

 
/*this controls the main portion, it sets the code for any parts of the 
webpage we have not specified*/
  body{
      display: flex;
      flex-direction: column;
      line-height: 100%;
      text-align: center;
      font-family: sans-serif;
      
  }


/*this controls the position of the image for my header, this code was taken from 
Andy Deans codepen and changed to suit my website.*/
  .header{
    background: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
 #home {
    background-image: url(snowboardimage.png);
    height: 60vh;
 }
 h1{
      padding: 1em;
      font-size: 4em;
      line-height: 0.8em;
      font-family: 'Bungee', cursive;
      text-transform: uppercase;
    text-align: end;
    color: antiquewhite;
      
  }
  
  nav {
      margin: 0px;
      background-color: lavender;
      padding:0.5em;
      display: block;
      font-family: 'Hammersmith One', sans-serif;
      

    
  
  }
  /* the structure for the following list style was learnt in web week 6
  i have changed a few items such as overflow as the characters in the box were being cut off
  */
  ul {
      overflow: hidden;
      list-style-type: none;
      float: right;
    
  }
  li {
  /* this sets the dimensions for the "list" in our navigation panel*/
      height: 20px;
      margin-right:10px;
      border-right: 1px solid #aaa;
      padding: 20px 20px;
      float: left;
      font-size: 1.5em;
    
    
    
  
  }
  
  /* gets rid of the final border on the end of the navigation bar*/
  li:last-child {
      border-right:none;
  }
  
  li a {
      text-decoration: none;
      color: #ccc;
      font-family: 'Cuprum', sans-serif;
      text-transform: uppercase;
      transition: all 0.5s ease;
      font-size: 1.8em;
  }
  /*makes the text selected below change colour when the mouse is hovered over it.*/
  li a:hover {
      color: #666;
  }
  
  /* in the navigation bar makes sure that the page selected is in bold*/
  li.active a {
      font-weight:bold;
      color: #333;
  }
/* the wrapper below contains the boxes for my content, so the three
different columns,*/
.wrapper {
     padding: 1.5em;
     display: flex;
     order: 1,2,;
     flex-grow: 1;
     flex-direction: row;
     flex-flow: row wrap;
     justify-content: flex-start;
     align-items: stretch;
     margin: 15px;
     text-align: justify;

}
  
  img {
      max-width: 100%;
      object-fit: contain;
      margin-bottom: 8px;
      margin-top:8px;
  }

.column1{
  
    border-right: solid;
    border-right-color: #ccc;
    padding: 1em;
    background-color: aqua;
}

.column2{
    
    border-right: solid;
    border-right-color: #ccc;
    padding: 1em;
    background-color: blueviolet;

}

.column3{
   
    padding: 1em;
    background-color: darkgoldenrod;
    order:3;
  
}

  h2 {
      font-size: 2em;
      margin: 5px;
      line-height: 0.8em;
      text-align: center;
      font-family: 'Srisakdi', cursive;
      padding: 5px;
      margin-bottom: 0;

  }

  h3{
      font-size: 1em;
    text-align: center;
      padding: 1em;
      font-family: cursive;
      padding-top: 0;
      min-width: 20em;
    }


@media all and (min-width:20em)
{
    .wrapper{
        flex-wrap: wrap;
        
        flex-shrink: 1;
    }
    .column1{
        border-right: transparent;
        max-width: 20em;
       
    }

    .column2{
        border-right:transparent;
        max-width: 20em;
    }

    .column3{
        max-width: 20em;
    }
    
    
}

