@import url('https://fonts.googleapis.com/css?family=Bungee');
* {
    margin:0;
    
  }

 
/*this controls the main portion, it sets the code for any parts of the 
webpage we have not specified*/
  body{
      display: flex;
      flex-direction: column;
      line-height: 100%;
      text-align: center;
      font-family: sans-serif;
      
  }


/*this controls the position of the image for my header, this code was taken from 
Andy Deans codepen and changed to suit my website.*/
  .header{
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
 #home {
    background-image: url(ps4controller.png);
    height: 50vh;

    /*https://unsplash.com/photos/HUBNTCzE-R8*/
 }
 h1{
      padding: 1em;
      font-size: 4em;
      line-height: 0.8em;
      font-family: 'Bungee', cursive;
      text-transform: uppercase;
    text-align: end;
    color: antiquewhite;
      
  }
  
  nav {
      margin: 0px;
      background-color: lavender;
      padding:0.5em;

      font-family: 'Hammersmith One', sans-serif;
      

    
  
  }
  /* the structure for the following list style was learnt in web week 6
  i have changed a few items such as overflow as the characters in the box were being cut off
  */
  ul {
      overflow: hidden;
      list-style-type: none;
      float: right;
    
  }
  li {
  /* this sets the dimensions for the "list" in our navigation panel*/
      height: 20px;
      margin-right:10px;
      border-right: 1px solid #aaa;
      padding: 20px 20px;
      float: left;
      font-size: 1.5em;
    
    
    
  
  }
  li:first-child:hover{
      border-bottom:solid;
      border-bottom-color:crimson;
      transition: all 0.3s ease;

  }
  li:nth-child(2):hover{
    border-bottom:solid;
    border-bottom-color:blue;
    transition: all 0.3s ease;
  }

  li:nth-child(3):hover{
    border-bottom:solid;
    border-bottom-color: green;
    transition: all 0.3s ease;
  }

  li:nth-child(4):hover{
    border-bottom:solid;
    border-bottom-color:pink;
    transition: all 0.3s ease;
  }
  li:last-child:hover{
    border-bottom:solid;
    border-bottom-color:yellow;
    transition: all 0.3s ease;
  }
  /* gets rid of the final border on the end of the navigation bar*/
  li:last-child {
      border-right:none;
  }
  
  li a {
      text-decoration: none;
      color: #ccc;
      font-family: 'Cuprum', sans-serif;
      text-transform: uppercase;
      transition: all 0.5s ease;
      font-size: 1.8em;
  }
  /*makes the text selected below change colour when the mouse is hovered over it.*/
  li a:hover {
      color: #666;
     
      
  }

  
  /* in the navigation bar makes sure that the page selected is in bold*/
  li.active a {
      font-weight:bold;
      color: #333;
  }
/* the wrapper below contains the boxes for my content, so the three
different columns,*/


.wrapper {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: stretch;
     text-align: justify;

}
  
.col img {
      max-width: 100%;
      object-fit: contain;
      margin-bottom: 8px;
      margin-top:8px;
  }

.col {
    
    border-right: solid;
    border-right-color: #ccc;
    padding: 1.5em;
    width: calc((80%/3));
    flex-direction: column;
   margin-top:20px;
    
   
    
}
.col:last-child{
    border-right: none;
}

.col:nth-child(2):first-letter {
    color:blue;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }  
  

  h2 {
      font-size: 2em;
      margin: 5px;
      line-height: 0.8em;
      text-align: center;
      font-family: 'Srisakdi', cursive;
      padding: 5px;
      margin-bottom: 0;

  }

  h3{
      font-size: 1em;
    text-align: center;
      padding: 1em;
      font-family: cursive;
      padding-top: 0;
    
    }
    aside {
        background-color: darkslategrey;
        max-height: 50em;
        margin: 20px;
    }

    footer {
        background-color: aquamarine;
        padding:1em;
    }

    .Story{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: flex-start;
       text-align: right;
       margin:20px;
        
    }

    .Story img{
        max-width: 600px;
        max-height: 400px;
    }
   
    
    
    @media (min-width: 200px) and (max-width: 599px){
        li{
            border-right: transparent;
        }
    }
    @media (max-width:749px)
    {
      .col:nth-child(2){
    border-right: transparent;
        }
    }
    @media (max-width : 800px) {
        .col {
          flex: 1 0 auto;
          width: calc((30));
        }

        li {
            float: left;
            text-align: left;
        }
      }
      
      /* tablet  and down */
    @media (max-width : 600px) {
        /* converts cols to full width */
        .col {
          flex: 0 0 100%;
          max-width:21em;
          border-right:transparent;
        }
        li{
            font-size: 1em;
            padding: 10px;
            float: none;
            justify-content:left;
            
        }
        
      }
     